@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 1rem;
}

.title {
    margin-top: 3rem;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.subtitle {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.description {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    width: 100%;
}

.card__image {
    display: flex;
}

.position {
    writing-mode: vertical-lr;
    font-family: 'PT Serif', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.card__image img {
    width: 100%;
}

.name {
    display: block;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.card-down {
    margin-top: 3.5rem;
}

@media (min-width: 1000px) {
    .container {
        width: 70%;
        margin: 0 15% 0 15%;
    }

    #header {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: flex-end;
        margin: 5rem 0;
        width: 100%;
    }

    .title {
        margin-top: 0;
    }

    .subtitle {
        margin-top: 1rem;
    }

    .description {
        display: block;
        margin: 0;
        width: 100%;
        font-size: 1.4rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
    }

    .card-desktop {
        margin: 0;
    }

    .card-down-desktop {
        margin-top: 7rem;
    }

    .position{
        font-size: 13px;
        margin-left: 0.5rem;
    }


    .name {
        font-size: 1.4rem;
    }
}